<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="LambdaTest Suite" parallel="tests" thread-count="2">
    <test name="Test on Windows Chrome">
        <parameter name="platform" value="Windows 10"/>
        <parameter name="browserName" value="chrome"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="com.test.LambdaTestDemo">
                <methods>
                    <include name="testSimpleFormDemo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>